.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
}
#list-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
